/* FONTS */

/* Hairline */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Thin */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* DemiBold */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* TAILWIND */

@import "tailwindcss";

@theme {
  --color-primary: #daff45;
}

/* GENERAL STYLES */

*:not(body) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

:root {
  font-family: TTHoves, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}
